$primary: #ff7f00;
$black2: #495057;

@import 'bootstrap/bootstrap.scss';

body{
    font-family: "Montserrat", sans-serif;
    color:$black2;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}

img{
	max-width: 100%;
}

a, .btn-link{
	&:hover{
		text-decoration: none;
	}
}

//Header

header{
    background: #fff;
	padding: 10px 0;
	box-shadow: 0 5px 10px rgba(204,204,204,0.31);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	h1{
		font-size: 24px;
		font-weight: 600;
		text-transform: uppercase;
	}

	.avatar-container{
		width: 60px;
		height: 60px;
		position: relative;
		cursor: pointer;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			border-radius: 50%;
		}

		i{
			position: absolute;
			left: 0;
			top: 0;
			font-size: 20px;
			color: $primary;
		}
	}
}

.profile-options-modal{
    .profile-options-list{
        padding: 0;
        margin: 0;
        list-style: none;

        li{
            a{
                display: block;
                padding: 10px 0;
                color: $black2;

                i{
                    display: inline-block;
                    width: 18px;
                    text-align: center;
                    margin-right: 5px;
                }
            }
        }
    }
}



// Main